.section-body{

    // table content part
    .table-responsive{
        .applicant-role, .applicant-part-role{
            color: white;
            background: #cedd7a;
            padding: 7px;
            border-radius: 7px;
            font-size: 13px;
        }
        .applicant-part-role{
            background:  #fbbd08;
        }

    }
}