:root {
    --main-background: #e0e0e082;
    --error-color: red;
    --primary-width: 78%;
    --secondary-width: 49%;
    --padding-small: 10px;
    --padding-medium: 20px;
}

.empHistoryContainer {
    margin-top: -24px; // Consider removing negative margin
    padding: 10px;

    .empHistoryDetailHeading {
        margin: 46px -13px 0;
        background-color: var(--main-background);
        width: 96.2%;
    }

    .empHeadline {
        background-color: var(--main-background);
        margin-left: 16px !important;
    }

    .empHistoryForm {
        text-align: left;
        margin: 15px 0 0 4px;

        .PrevEmpNameContainer {
            margin-top: 10px;

            .separatorForPrevEmpName {
                margin: 15px;
            }

            .separatorForPrevEmpAdd {
                margin: 137px;
            }

            .separatorForManagerEmail {
                margin: 59px;
            }

            .separatorForLeaveReason {
                margin: 56px;
            }

            .separatorForPosition {
                margin: 69px;
                margin-right: 55px;
            }

            div {
                flex: 1;
            }
        }

        .PrevEmpNameInput,
        .PrevEmpAddressInput,
        .managerEmailInput,
        .leaveReasonInput {
            width: var(--primary-width);
        }

        .PrevEmpAddressInput {
            margin-left: -122.5px;
        }

        .managerEmailInput {
            margin-left: -42px;
        }

        .leaveReasonInput {
            margin-left: -39px;
        }

        .PrevEmpFromToContainer,
        .noCodeContainer {
            display: flex;
            margin-top: 10px;

            div {
                flex: 1;
            }

            .separationForTelephone {
                margin: 93px;
            }

            .separationForEmpCode {
                margin: 103px;
            }

            .separationForDesg {
                margin: 112px;
            }

            .separationForDept {
                margin: 126px;
            }

            .separationForManagerName {
                margin: 75px;
            }

            .separationForManagerNo {
                margin: 57px;
            }

            .separatorForStayEmpFrom {
                margin: 55px;
            }
        }

        .PrevEmpFromToContainer {

            .empFromInput,
            .empToInput {
                margin-left: 14px;
            }

            .empToContainer {
                margin-left: -336px;
            }
        }

        .teleInput,
        .empCodeInput,
        .desgInput,
        .deptInput,
        .managerNameInput,
        .managerContactInput {
            width: var(--secondary-width);
        }

        .teleInput {
            margin-left: -78px;
        }

        .empCodeInput {
            margin-left: -63px;
        }

        .desgInput {
            margin-left: -96px;
        }

        .deptInput {
            margin-left: -85px;
        }

        .managerNameInput {
            margin-left: -59px;
        }

        .managerContactInput {
            margin-left: -16px;
        }

        .eduAddRowButton {
            background-color: #CE93D8;
            float: left;
            margin-top: -13px;
            width: 83px;
            border: none;
            color: white;
            padding-left: 0;
        }

        .radioCheck {
            box-sizing: border-box;
            appearance: none;
            -webkit-appearance: none;
            background-color: white;
            border: 2px solid #333;
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: relative;
            margin: -2px 89px 0 26px;
            vertical-align: middle;

            &:checked{
                background-color: white;
                border: 2px solid #333;
            }

            &:checked::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 5px;
                width: 6px;
                height: 12px;
                border: solid blue;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        .prevDoc {
            margin-top: 21px;
            font-weight: 700;
        }

        .docGrpContainer,
        .lastDocGrpContainer {
            display: flex;
            flex-direction: row;
            gap: 3px;
            margin-top: -21px;
            justify-content: space-between;
            align-items: baseline;

            >div {
                flex: 1;
            }

            .separatorForExpCert {
                margin: 52px;
            }

            .emp-file-container,
            .emp-relieving-file-container {
                position: relative;
                display: flex;
                align-items: center;
                right: 8px;
                gap: 5px;
                top: -1px;

                .cross-icon {
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    left: 158px;
                    cursor: pointer;
                  }

                .uploadFileOfExpCert {
                    position: relative;
                    border: 1px solid black;
                    width: 207px;
                    margin-left: -33px;
                }

                .uploadEmp {
                    width: 93px;
                    background-color: rgba(253, 216, 53, 0.568627451);
                    border: none;
                }
            }

            .emp-relieving-file-container {
                top: -32px;
                right: -221px;
            }
        }

        .lastDocGrpContainer {
            margin-top: -79px;
        }

        .empErrorMessage,
        .empHistoryErrorMessage,
        .expCertErrorMessage,
        .relievingLetterErrorMessage,
        .lastMonthSalarySlipErrorMessage,
        .appointmentLetterErrorMessage {
            color: var(--error-color);
            font-size: 12px;
        }

    }
}