:root {
    --main-background: #e0e0e082;
    --error-color: red;
    --primary-width: 78%;
    --secondary-width: 49%;
    --padding-small: 10px;
    --padding-medium: 20px;
}

.empHistoryContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

    .empHistoryDetailHeading {
        text-align: left;
    }

    .empHistoryForm {


        input {
            width: 40%;
        }

        .PrevEmpNameContainer {
            margin-top: 10px;
            display: flex;
            align-items: center;

            div {
                flex: 1;
                display: flex;
                align-items: center;
            }
            .emp-name-container{
                gap: 10px;
            }
            .emp-code-container{
                gap: 59px;
            }
            .emp-mob-container{
                gap: 114px;
            }
            .emp-desg-container{
                gap: 85px;
            }
            .emp-dep-container{
                gap: 100px;
            }
            .emp-manager-name-container{
                gap: 51px;
            }
            .emp-manager-contact-container{
                gap: 66px;
            }
            .emp-leavereason-container{
                gap: 51px;
            }
            .emp-email-container{
                gap: 45px;
            }
            .emp-address-container{
                gap: 115px
            }
        }

        .datepicker-container {
            margin-top: 10px;
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: left;

            .datepicker-wrapper {
                position: relative;
                width: 100%;
              }

            .empFromInput {
                width: 273px;
                padding-right: 36px;
                box-sizing: border-box;
                margin-left: 51px;
            }

            .calendar-icon {
                position: absolute;
                top: 44%;
                right: 66%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }

        .exp-file-Container,.last-first-month-salary-slip-file-Container,.last-second-month-salary-slip-file-Container,.last-third-month-salary-slip-file-Container,.app-file-Container{
            margin-top: 12px;
            display: flex;
            gap: 44px;

            .exp-file-box{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                right: 8px;
                gap: 5px;
                top: -1px;

                div{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }

                .cross-icon {
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    left: 204px;
                    cursor: pointer;
                }

                .uploadFileOfExpCert {
                    position: relative;
                    border: 1px solid black;
                    width: 220px;
                }

                .uploadEmp {
                    width: 93px;
                    background-color: rgba(253, 216, 53, 0.568627451);
                    border: none;
                }
            }
        }
        .last-first-month-salary-slip-file-Container{
            gap: 193px;
        }
        .last-second-month-salary-slip-file-Container{
            gap: 172px;
        }
        .last-third-month-salary-slip-file-Container{
            gap: 221px;
        }
        .app-file-Container{
            gap: 243px;
        }

        .eduAddRowButton {
            background-color: #CE93D8;
            float: left;
            margin-top: -13px;
            width: 83px;
            border: none;
            color: white;
            padding-left: 0;
        }

        .radioCheck {
            box-sizing: border-box;
            appearance: none;
            -webkit-appearance: none;
            background-color: white;
            border: 2px solid #333;
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: relative;
            margin: -2px -46px 0 26px;
            vertical-align: middle;

            &:checked {
                background-color: white;
                border: 2px solid #333;
            }

            &:checked::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 5px;
                width: 6px;
                height: 12px;
                border: solid blue;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        .prevDoc {
            font-weight: 700;
        }
        .empErrorMessage,
        .empHistoryErrorMessage,
        .expCertErrorMessage,
        .relievingLetterErrorMessage,
        .lastMonthSalarySlipErrorMessage,
        .appointmentLetterErrorMessage {
            color: var(--error-color);
            font-size: 12px;
        }

    }
}