.employeelist-header{
    display: flex;
    justify-content: flex-start;
    gap: 8px;

    .card-options {
        color: #9aa0ac !important;
        display: flex Im !important;
        order: 100 !important;
        align-self: center I !important;
        margin-left: 0 !important;
    }
}