.pendingrequest-upper-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 1rem;

    .pendingrequest-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 20px;
        width: 100%;
        max-width: 1400px;
        padding: 10px;


        .pending-request-card {
            border: 1px solid black;
            border-radius: 0.55rem;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;



            &>div:last-child {
                padding-bottom: 35px;
            }

            .header-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            .clearance-btn {
                margin-top: -15px;
                width: 20px;
                /* Set a fixed size to prevent shifting */
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon-collapsed {
                    width: 10px;
                    height: 10px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                }

                .icon-expanded {
                    width: 28px;
                    height: 28px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                }

                .icon-redirect {
                    width: 28px;
                    height: 28px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    transform: rotate(90deg);
                }
            }

            .content-box {
                margin-top: 10px;
                text-align: left;
                width: 100%;

                ul {
                    padding-left: 15px;
                }

                .edit-delete-btn-container {
                    display: flex;
                    justify-content: center;
                    gap: 14px;
                }
            }

        }
    }
}