/* general information */
body {
  font-family: system-ui;
}

.form-navbar {
  padding: 0;
  margin-bottom: 15px;

  .personaldetail-form {
    width: 100%;
    text-align: center !important;
    padding: 0px 60px;
    box-sizing: border-box;
    overflow-x: hidden;


    .UniversalHeadline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 25px 10px 10px 10px;
      gap: 5px;
    }

    .mainHeading {
      border: 1px solid #512f9f;
      background-color: #6A1B9A;
      color: white;
      width: 80%;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .noteHeading {
      padding: 5px 5px 5px 176px;
    }

    .noteContent {
      font-size: 13px;
      font-weight: bold;
      text-align: justify;
      margin-left: 15px;
    }

    .noteDescription {
      font-weight: 500;
      margin-left: 6px;
    }

    hr {
      color: #512f9f;
    }

    .basicInformation {
      display: flex;
      justify-content: space-between;

      div {
        flex: 1;
      }
    }

    .empId,
    .dateOfJoining,
    .workPlace,
    .empType {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: flex-start;

      section {
        flex: 1;
      }
    }

    input {
      font-size: 13px;
    }

    input[type="date"] {
      width: 192px;

      &:focus,
      &:active {
        outline: 1.5px solid #bc47b1 !important;
        border-color: #bc47b1 !important;
      }
    }

    label {
      font-weight: 500;
      font-size: 14px;
    }

    select {
      font-size: 13px;
      font-weight: 400;
      height: 26px;
    }

    option {
      font-size: 15px;
    }

    /* personal detail form */
    .personalDetailForm {
      text-align: center;
      overflow-x: hidden;
      overflow-y: hidden;

      input,
      select {
        padding-left: 6px;
      }

      input[type="file"],
      input[type="button"] {
        padding-left: 0;
      }

      select {
        appearance: none;
        /* Hides default arrow (optional) */
        background: url('/assets/img/dropdown_icon.png') no-repeat right 10px center;
        background-size: 10px;

        &.invalid {
          border: 1px solid red !important;
          outline: red;
        }
      }

      input[type="date"] {
        padding-right: 10px;
      }
    }

    .personalDetailHeading {
      background-color: #e0e0e082;
      text-align: center;
    }

    .personalDetailHeadline {
      font-weight: bold;
      height: 20px;
      display: flex;
      align-content: flex-end;
      justify-content: center;
      align-items: center;

    }

    .personalDetailContainer {
      padding: 20px 8px 20px 0px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      align-items: center;
    }

    .nameLabel {
      margin-right: 10px;
    }

    .separationForFirstName {
      margin: 46px;
    }

    .separationForMiddleName {
      margin: 34px;
    }

    .separationForsurName {
      margin: 44px;
    }

    .firstNameInput,
    .middleNameInput,
    .surNameInput {
      margin-left: -24px;
      width: 63%;
    }

    .middleNameInput {
      margin-left: -12px;
    }

    .surNameInput {
      margin-left: -21px;
    }

    .separationForDOB {
      margin: 31px;
    }

    .dobInput {
      margin: 0 3px;
      width: 63% !important;
    }

    .name-gender-container {
      margin-left: -70px;
    }

    .input-grp-Container {
      width: 50%;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .selectGenderInput {
      width: 50% !important;
      margin-left: 67px;

      &>option:hover {
        background-color: #7b1fa24f;
      }
    }

    .inputContainer {
      width: 50%;
      margin-bottom: 15px;
    }

    .inputWrapper {
      position: relative;
      width: 100%;
      display: flex;
      margin-left: 107px;

      .inputWithFileName {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;

        .inputWithIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .upload-icon {
            position: absolute;
            right: 1%;
            top: 48%;
            transform: translateY(-50%);
            width: 20px;
            height: 18px;
          }

          .aadharInput,
          .panInput,
          .passportInput {
            width: 352px;
            margin-left: 40px;
          }

          .panInput {
            margin-left: 73px;
          }

          .passportInput {
            margin-left: 48px;
          }

        }
        .selectedFileName{
          margin-bottom: -25px;
          p{
            margin-left: 44px;
          }
        }
      }

    }

    .motherNameInput {
      width: 50%;
      margin-left: 23px;
    }

    /* father name input */
    .fatherNameContainer {
      margin-top: 20px;
      width: 1100px;
    }

    .separationForFatherName {
      margin: 58px;
    }

    .fatherNameInput {
      width: 50%;
      margin-left: 30px;
    }

    .photo-container {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
    }

    /* email input */
    .separationForEmail {
      margin: 64px;
    }

    .emailInput {
      width: 75.5%;
      margin-left: -31px;
    }

    /* mobile no. input */
    .smallGrpContainer {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      >div {
        flex: 1;
      }
    }

    .separationForMob {
      margin: 10px;
    }

    .mobInput {
      width: 50%;
      margin-left: 25px;
    }

    /* aadhar input */
    .separationForAadhar {
      margin: 65px;
    }

    /* pan no. input */
    .separationForPan {
      margin: 97px;
    }

    /* passport input */
    .passport-container {
      gap: 20px;
      margin-top: 20px;
    }

    .separationForPassport {
      margin: 73px;
    }

    /* file chosen */
    .fileInputContainer {
      position: relative;
      display: flex;
      align-items: center;
      right: -37px;
      gap: 10px;
      top: -3px;

      .cross-icon {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 323px;
        cursor: pointer;
      }
    }

    .uploadFileInput {
      border: 1px solid black;
      width: 352px;
      position: relative;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
      white-space: normal !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      vertical-align: middle Im !important;
    }

    .upload {
      width: 93px;
      background-color: #fdd83591;
      border: none;
    }

    .docErrorMessage {
      position: absolute;
      left: 96px;
      color: red;
      font-size: 12px;
      white-space: nowrap;
      background-color: #fff;
    }

    .docUploadErrorMessage {
      color: red;
      font-size: 13px;
    }

    .docUploadSuccessMessage {
      color: green;
      font-size: 14px;
      font-weight: bold;
    }

    /* save buttons */
    .saveButtons {
      display: flex;
      gap: 10px;
      float: right;
      margin: 24px 65px 0 976px;
    }

    .saveBtn,
    .saveNextBtn {
      background-color: #bc47b1;
      color: white;
      border: none;
      width: 121px;
      height: 42px;
      font-size: 14px;

      &:active {
        box-shadow: 2px 5px 10px 2px #80007c;
      }
    }

    .saveNextBtn {
      background-color: #6A1B9A;

      &:active {
        box-shadow: 2px 5px 10px 2px #550080;
      }
    }

    /* validation scss */
    .required {
      color: red;
    }

    .invalid {
      outline: red;
      border: 1px solid red !important;

      &::placeholder {
        visibility: hidden;
      }
    }

    /* Specific styling for select elements */
    .selectGenderInput .invalid {
      outline: red !important;
      border: 1px solid red !important;
      background-color: yellow;
    }

    /* input field scss */
    // input:focus,
    // select:focus {
    //   outline-color: #bc47b1 !important;
    // }

    // input[type="file"]:focus {
    //   border: 2px solid #bc47b1;
    //   outline-color: #bc47b1;
    // }
  }
}