.declaration-form {
    width: 100%;
    text-align: center !important;
    padding: 24px 60px;
    box-sizing: border-box;
    overflow-x: hidden;

    .UniversalHeadlines {
        display: flex;
        justify-content: center;

        .mainHeading {
            border: 1px solid #512f9f;
            background-color: #6A1B9A;
            color: white;
            width: 80%;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .placeholder-date {
            color: #d3d3d3;
        }

        /* when a date is selected */
        .filled-date {
            color: black;
        }
    }

    .noteHeading {
        padding: 12px 5px 5px 253px;
    }

    .noteContent {
        font-size: 13px;
        text-align: justify;
        margin-left: -52px;
        font-weight: normal;
    }

    .noteDescription {
        font-weight: 500;
        margin-left: 6px;
    }

    .previewHeading {
        border: 1px solid #512f9f;
        background-color: #6A1B9A;
        color: white;
        width: 80%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signAttach {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 85px;
        text-align: left;
    }

    .signatureLabel {
        margin-left: 30px;
        margin-bottom: 40px;
        margin-top: 6px;
        font-weight: 600;
    }

    .signatureBox {
        width: 150px;
        height: 100px;
        border: 1px solid black;
    }

    .signBox {
        display: flex;
        flex-direction: column;
    }

    .lastDate {
        margin-bottom: 16px;
    }

    .finalDateSeperator {
        margin: 13px;
    }

    .lastDateInput,
    .lastPlaceInput {
        width: 156px !important;
        padding-left: 4px;
        padding-right: 4px;
        height: 26px;
    }

    .lastPlaceInput {
        margin-left: 12px;
        width: 156px;
        height: 26px;
    }

    .finalSubmitButton {
        float: right;
        text-align: right;
        margin-top: 39px;
        width: 90%;
    }

    .previewBackBtn {
        background-color: rgba(97, 97, 97, 0.77);
        color: white;
        border: none;
        width: 121px;
        height: 42px;
        font-size: 14px;
        float: left;
    }

    .user-error-msg{
        font-size: 13px;
        color: red;
    }

    .finalSubmitBtn {
        position: relative;
        display: inline-block;
        overflow: hidden;
        transition: 0.5s;
        border: none;
        border-radius: 9px;
        outline: none;
        color: #793282;
        font-weight: bold;
        height: 42px;
        width: 121px;

        span {
            position: absolute;
            display: block;
        }

        span:nth-child(1) {
            top: 0;
            left: 100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #793282);
            animation: anim1 1s linear infinite;
        }

        span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #793282);
            animation: anim2 1s linear infinite;
            animation-delay: 0.25s;
        }

        span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #793282);
            animation: anim3 1s linear infinite;
            animation-delay: 0.5s;
        }

        span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #793282);
            animation: anim4 1s linear infinite;
            animation-delay: 0.75s;
        }

        &:hover {
            background-color: #793282;
            color: white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #793282, 0 0 20px 0px #793282, 0px 0px 1px #793282, 0 0 100px #793282;
        }
    }
}

.preview-table {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;

    table {
        width: 95%;
        margin-top: auto;
        table-layout: fixed;

        thead {
            text-align: center !important;
            background: lightgray;

            & tr th.serialNo {
                text-align: center !important;
                padding: 4px !important;
            }
        }

        td {
            word-wrap: break-word !important;
            overflow-wrap: break-word !important;
            white-space: normal !important;
            overflow: hidden;
            text-overflow: ellipsis !important;
            max-width: 200px;
            white-space: nowrap !important;
            overflow: hidden;
            text-overflow: ellipsis !important;
            vertical-align: middle;
        }

        th {
            color: #2c2945;
            padding: 11px !important;
            border: 1px solid darkgray;
            word-wrap: break-word;

            &+th {
                padding-left: 1rem;
            }
        }


        td {
            vertical-align: middle;
            padding: 0.75rem;
            border: 1px solid darkgray;
            word-wrap: break-word;

            &+td {
                padding-left: 1rem;
            }
        }

        td {
            padding: 5px !important;
            padding-left: 20px !important;
            line-height: 1.2;
            vertical-align: middle;

            span {
                padding: 5px;
            }
        }

        .d-flex {
            display: flex;
            align-items: center;
        }

        td h6,
        td span {
            margin: 0;
            line-height: 1;
        }
    }

}

.addressHistory {
    table {
        td {
            text-align: center;
        }

        .serial-no-column {
            width: 6%;
        }

        .contact-no-column {
            width: 25%;
        }
    }
}

@keyframes anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}