.preview-table {
    width: 100%;
    margin: 15px auto;

    table {
        width: 100%;
        margin-top: auto;
        table-layout: fixed;

        thead {
            text-align: center !important;
            background: lightgray;

            & tr th.serialNo {
                text-align: center !important;
                padding: 4px !important;
            }
        }

        td {
            word-wrap: break-word !important;
            overflow-wrap: break-word !important;
            white-space: normal !important;
            overflow: hidden;
            text-overflow: ellipsis !important;
            max-width: 200px;
            white-space: nowrap !important;
            overflow: hidden;
            text-overflow: ellipsis !important;
            vertical-align: middle;
        }

        th {
            color: #2c2945;
            padding: 11px !important;
            border: 1px solid darkgray;
            word-wrap: break-word;

            &+th {
                padding-left: 1rem;
            }
        }


        td {
            vertical-align: middle;
            padding: 0.75rem;
            border: 1px solid darkgray;
            word-wrap: break-word;

            &+td {
                padding-left: 1rem;
            }
        }

        td {
            padding: 5px !important;
            padding-left: 20px !important;
            line-height: 1.2;
            vertical-align: middle;

            span {
                padding: 5px;
            }
        }

        .d-flex {
            display: flex;
            align-items: center;
        }

        td h6,
        td span {
            margin: 0;
            line-height: 1;
        }
    }

}

.addressHistory {
    table {
        td {
            text-align: center;
        }

        .serial-no-column {
            width: 6%;
        }

        .contact-no-column {
            width: 25%;
        }
    }
}

.contactSaveButtons {
    display: flex;
    gap: 10px;
    float: right;
    margin: 48px 85px 0px 0px;
    width: 100%;
}

.backBtn {
    background-color: rgba(97, 97, 97, 0.768627451);
    color: white;
    border: none;
    width: 121px;
    height: 42px;
    font-size: 14px;
    margin-right: auto;
    
    &:active {
        box-shadow: 2px 5px 10px 2px #263238;
    }
}

@keyframes anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}