.docs-container {
    background-color: #fff;
    transition: all 0.5sease-in-out;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow: hidden;
    padding: 20px;
    display: flex;

    .docs-name {
        border-right: 1px solid darkgray;
        position: relative;

        h5 {
            font-weight: 600;
        }

        .report-progress-container {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 30px;
            padding-top: 10px;


            .folder-container {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .progress-step {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;

                    .progressbar-container {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                    }


                    .progress-icon {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        border: 2px solid dodgerblue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        left: -30px; 
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        z-index: 1;

                        & .completed {
                            color: dodgerblue;
                        }

                        .progress-circle-icon,
                        .progress-tick-icon {
                            width: 12px;
                            height: 12px;
                            margin-right: -1px;
                        }

                        .progress-tick-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .list-group-item {
                        padding: 10px 15px;
                        text-decoration: none;
                        color: #333;
                        display: flex;
                        align-items: center;
                        gap: 0px;
                        background-color: transparent;
                        border: none;
                        transition: background-color 0.3s;

                        &.active {
                            // background-color: #E6E6F8 !important;
                            border: #E6E6F8;
                            color: black;
                        }

                        .docs-icon {
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }

                /* Each progress segment (line between icons) */
                .progress-segment {
                    width: 3px;
                    height: 30px;
                    background-color: dodgerblue;
                    position: absolute;
                    left: -19px;
                    top: 17px;
                }
            }
        }
    }

    .list-group {
        .single-docs-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            gap: 5px;

            .docs-icon-name {
                display: flex;

                .docs-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }

        .verified-btn {
            padding: 7px;
            height: 33px;
            color: darkgreen;
            font-size: 14px;
            font-weight: 600;
            border-radius: 0.25rem;
            line-height: 1.5;
            border: none;
        }
    }
}