.reset-btn{
    margin-top: 50px;
}
.forgot-title{
    text-decoration: none;
}
.backtologin{
    margin-top: 20px;
    text-align: center;

    .backtologin-btn{
        background-color: inherit;
        color: #5A5A5A;
        border: none;

        .bk{
            color: #5A5A5A;
        }
    }
}
.reset-error-message{
    color: red;
    font-size: 13px;
    text-align: center;
    
}