form {
    .input-text {
        position: relative;
        min-height: 70px;

        .user-input-icons {
            position: relative;

            .visibility-password,
            .confirm-visibility-password {
                position: absolute;
                top: 23%;
                right: 13px;
                transform: translateY(-50%);
                background: none;
                border: none;
                font-size: 18px;
                color: #6a1b9a;
                cursor: pointer;

                &:hover {
                    color: #ca10cb;
                }
            }
            .userErrorMessage{
                font-size: 13px;
                color: red;
                margin-left: 7px;
            }
        }
    }

    .input-text {
        position: relative;
        min-height: 70px;

        &.with-criteria {
            margin-top: 14px !important;
        }

        .user-input-icons {
            position: relative;

            .confirm-visibility-password {
                top: 49%;
                right: 12px;
            }

            .password-criteria {
                color: #5A5A5A;
                font-size: 13px;
                margin-top: 5px; 
                top: 100%; 
                left: 0;
                visibility: hidden;
                margin-left: 5px;
            }

            .confirm {
                position: relative;
                margin-top: 0;
            }

            // Visibility logic for error and criteria messages
            .password-criteria.visible {
                visibility: visible; // Show when the message is visible
            }
        }
    }

    .signup-error-message {
        color: red;
        font-size: 13px;
        position: absolute;
        top: 95%;
        left: 141px;
        bottom: -20px;
    }
}