.container-fluid {
    .icons-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        width: 100%;
    }

    .section-body {

        // list view
        .employeelist-header {
            display: flex;
            margin-left: -9px;


            .card-title {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.2;
                text-transform: uppercase;
            }

            // search bar
            .user-searchForm {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                padding: 0;

                .search {
                    width: 226px;
                    height: 30px;
                    border: 2px solid #512f9f;
                    padding: 5px 35px 5px 10px;
                    box-sizing: border-box;
                }

                input[type="search"] {
                    width: 80%;
                    height: 40px;
                    border: 2px solid lightgray;
                    font-size: 1rem;
                    font-weight: 400;
                    outline: none;

                    &::placeholder {
                        color: #d3d3d3;
                        text-align: left;
                    }

                    &::-webkit-search-cancel-button {
                        cursor: pointer;
                    }
                }

                .searchIcon {
                    position: absolute;
                    right: 60px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: lightgray;
                }
            }
        }

        .card-body {
            // padding: 23px 15px 10px 15px;
            padding: 15px;


            .user-table {

                table {
                    width: 100%;
                    margin-top: auto;
                    table-layout: fixed;

                    thead {
                        text-align: center !important;
                        background: lightgray;

                        & tr th.serialNo {
                            text-align: center !important;
                            padding: 4px !important;
                        }
                    }

                    td {
                        word-wrap: break-word !important;
                        overflow-wrap: break-word !important;
                        white-space: normal !important;
                        overflow: hidden;
                        text-overflow: ellipsis !important;
                        max-width: 200px; 
                        white-space: nowrap !important;
                        overflow: hidden;
                        text-overflow: ellipsis !important;
                        vertical-align: middle;
                    }

                    tbody {
                        & tr td.serialColumn {
                            text-align: center;
                            padding: 4px !important;
                        }
                        & tr td.nameColumn{
                            text-align: center;
                            padding: 0 !important;
                        }
                    }

                    // & tr td:first-child,
                    // th:first-child {
                    //     text-align: left;
                    //     padding: 4px 4px 4px 45px !important;
                    // }

                    th {
                        color: #2c2945;
                        padding: 11px !important;
                        border: 1px solid darkgray;
                        word-wrap: break-word;

                        &+th {
                            padding-left: 1rem;
                        }
                    }

                    .status-column {
                        padding-left: 30px;
                    }


                    .action-column {
                        padding-left: 61px;
                    }


                    td {
                        vertical-align: middle;
                        padding: 0.75rem;
                        border: 1px solid darkgray;
                        word-wrap: break-word;

                        &+td {
                            padding-left: 1rem;
                        }
                    }

                    td {
                        padding: 4px !important;
                        line-height: 1.2;
                        vertical-align: middle;
                    }

                    .d-flex {
                        display: flex;
                        align-items: center;
                    }

                    .name-data {
                        margin-top: 19px;
                    }

                    td h6,
                    td span {
                        margin: 0;
                        line-height: 1;
                    }

                    .icons {
                        border: none;
                        color: #212529;

                        .delete-icon {
                            width: 17px;
                            height: 19px;
                        }

                        .toggle-icon {
                            width: 30px;
                            height: 16px;
                        }
                    }

                }

            }
        }


        // add new view
        .btn-grp {
            display: flex;
            gap: 10px;

            .close-btn {
                color: white;
                background-color: #6c757d;
                border-color: #6c757d;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0.25rem;
                line-height: 1.5;
                border: none;
                padding: .375rem .75rem;

                &:hover {
                    color: #90A4AE;
                }
            }

        }






    }
}